{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="about">
    <a class="bg_links social portfolio" href="#">
        <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="#">
        <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="#">
        <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
</div>

<nav>
    <div class="menu">
        <p class="website_name">LOGO</p>
        <div class="menu_links">
            <a href="" class="link">about</a>
            <a href="" class="link">projects</a>
            <a href="" class="link">contacts</a>
        </div>
        <div class="menu_icon">
            <span class="icon"></span>
        </div>
    </div>
</nav>

<section class="wrapper">

    <div class="container">

        <div id="scene" class="scene" data-hover-only="false">


            <div class="circle" data-depth="1.2"></div>

            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <p class="p404" data-depth="0.50">404</p>
            <p class="p404" data-depth="0.10">404</p>

        </div>

        <div class="text">
            <article>
                <p>Uh oh! 看来你迷路了。<br>请点击按钮返回首页！</p>
                <button>返回首页</button>
            </article>
        </div>

    </div>
</section>

<script src='{% static 'js/parallax.min.js' %}'></script>
<script src='{% static 'js/jquery-3.4.1.min.js' %}'></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>