{% extends 'layout/manage.html' %}

{% block css %}
    <style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }
    </style>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                    <a href="{% url 'file' project_id=request.saas.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>文件库</span>
                    </a>
                    {% for record in breadcrumb_list %}
                        <a href="{% url 'file' project_id=request.saas.project.id %}?folder={{ record.id }}">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>{{ record.name }}</span>
                        </a>
                    {% endfor %}

                </div>
                <div>
                    <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addModal" data-whatever="新建文件夹">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </a>

                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>文件名称</th>
                    <th>文件大小</th>
                    <th>更新者</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in file_object_list %}
                    <tr>

                        <td>
                            {% if item.file_type == 1 %}

                                <i class="fa fa-file" aria-hidden="true"></i>
                                {{ item.name }}
                            {% else %}
                                <a href="{% url 'file' project_id=request.saas.project.id %}?folder={{ item.id }}">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    {{ item.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_size }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ item.update_user.name }}</td>
                        <td>{{ item.update_datetime }}</td>
                        <td>
                            {% if item.file_type == 2 %}
                                <a class="btn btn-default btn-xs"
                                   data-toggle="modal"
                                   data-target="#addModal"
                                   data-name="{{ item.name }}"
                                   data-fid="{{ item.id }}"
                                   data-whatever="修改文件夹">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <a href="">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <input class="hide" type="text" name="fid" id="fid">
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id='butFormSubmit' type="button" class="btn btn-primary">确 定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>
        var FOLDER_URL = '{% url 'file' project_id=request.saas.project.id %}'
        $(function () {
            initAddModal();
            bindModelSubmit();
        });

        function initAddModal() {
            $('#addModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                var name = button.data('name') // Extract info from data-* attributes
                var fid = button.data('fid') // Extract info from data-* attributes
                var modal = $(this)
                modal.find('.modal-title').text(recipient)
                if (fid) {
                    modal.find('#id_name').val(name);
                    modal.find('#fid').val(fid);
                } else {
                    modal.find('.error-msg').empty() //回弹清空报错信息
                    {#document.getElementById('form').reset();//回弹清空表单内容#}
                    $('#form')[0].reset();//回弹清空表单内容
                }


            })
        }

        function bindModelSubmit() {
            $('#butFormSubmit').click(function () {
                $.ajax({
                    url: location.href,
                    type: 'POST',
                    data: $('#form').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = location.href;
                        } else {
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value[0]);
                            })
                        }

                    }

                })
            })

        }
    </script>
{% endblock %}