{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="account">
        <div class="title">用户短信登录</div>
        <form id="smsFrom" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <div style="float: right">
                <a href="{% url 'login' %}">用户名密码登录</a>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="登  录"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}



{% block js %}
    <script>
        $(function () {
            bindClickBtnSms()
            bindClickSubmit()

        });

        /*
    点击提交(登录)
    */
        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty(); //每次验证完清除
                //收集表单中数据(找到每一个字段)
                {#$('#regForm').serialize() //一下收集所有input框数据#}

                //数据ajax发送到后台
                $.ajax({
                    url: "{% url 'login_sms' %}",
                    type: 'POST',
                    data: $('#smsFrom').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data
                        } else {
                            $.each(res.error, function (key, value) {
                                {#console.log(key);#}
                                {#$('.error-msg').text(value[0]);#}
                                $('#id_' + key).next().text(value[0]);
                            })
                        }

                    }

                })
            })
        }

        /*
                点击获取验证码的按钮绑定
             */
        function bindClickBtnSms() {
            $('#btnSms').click(function () {
                $('.error-msg').empty(); //每次验证完清除


                //获取用户输入手机号
                var Phone = $('#id_phone').val()
                $.ajax({
                    url: "{% url 'send_sms' %}", // 等价于 /send/sms/
                    type: "GET",
                    data: {phone: Phone, tpl: "login"},
                    dataType: "JSON", // 将服务端返回的数据反序列化为字典
                    success: function (res) {
                        {#var ress = JSON.parse(res)#}
                        // ajax请求发送成功之后，自动执行的函数； res就是后端返回的值
                        if (res.status) {
                            sendSmsRemind()
                        } else {
                            //错误信息
                            console.log(res);
                            $.each(res.error, function (key, value) {
                                console.log(key);
                                {#$('.error-msg').text(value[0]);#}
                                $('#id_' + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        /*
倒计时
*/
        function sendSmsRemind() {
            var $smsBtn = $('#btnSms');
            $smsBtn.prop('disabled', true); // 禁用
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + '秒重新发送');
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)

        }
    </script>
{% endblock %}