{% extends 'layout/manage.html' %}
{% load static %}
{% block css %}
{#    引入marked的css#}
    <link rel="stylesheet" href="{% static 'plugin/Marked/css/editormd.min.css' %}">
    <style>
        .panel-body {
            padding: 0;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 600px
        }

        .content {
            border-right: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px;
        }
        .editormd-fullscreen{
            z-index: 1001;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <i class="fa fa-book" aria-hidden="true"></i> wiki文档
                </div>
                <div class="function">
                    <a type="button" class="btn btn-success btn-xs"
                       href="{% url 'wiki_add' project_id=request.saas.project.id %}">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
                    </a>
                    {#                        {% if wiki_object %}#}
                    {#                            <a type="button" class="btn btn-primary btn-xs"#}
                    {#                               href="{% url 'wiki_edit' project_id=request.tracer.project.id  wiki_id=wiki_object.id %}">#}
                    {#                                <i class="fa fa-edit" aria-hidden="true"></i> 编辑#}
                    {#                            </a>#}
                    {#                            <a type="button" class="btn btn-danger btn-xs"#}
                    {#                               href="{% url 'wiki_delete' project_id=request.tracer.project.id wiki_id=wiki_object.id %} ">#}
                    {#                                <i class="fa fa-trash" aria-hidden="true"></i> 删除#}
                    {#                            </a>#}
                    {#                        {% endif %}#}
                </div>
            </div>

            <div class="panel-body">
                <div class="col-sm-3 title-list">
                    <ul id="catalog">
                    </ul>

                </div>
                <div class="col-sm-9 content">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'content' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div id = 'editor'>
                                        {{ field }}
                                    </div>
                                    <span class="errot-msg">{{ field.errors.0 }}</span>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <span class="errot-msg">{{ field.errors.0 }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="btn btn-primary ">提 交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {#    引入marked的js#}
    <script src='{% static 'plugin/Marked/editormd.min.js' %}'></script>
    <script>

        var WIKI_DETAIL_URL = '{% url 'wiki' project_id=request.saas.project.id %}'
        var WIKI_UPLOAO_URL = '{% url 'wiki_upload' project_id=request.saas.project.id %}'
        $(function () {
            initCatalog();
            initEdtorMd();//使用,初始化marked编译器

        });
        function initEdtorMd() {
            editormd('editor',{
                placeholder:'请输入内容',
                height:500,
                path:'{% static 'plugin/Marked/lib/' %}',
                imageUpload:true,
                imageFormats:['jpg','jpeg','png','gif'],
                imageUploadURL:WIKI_UPLOAO_URL
            })

        }

        function initCatalog() {
            $.ajax({
                url: '{% url 'wiki_catalog' project_id=request.saas.project.id %}',
                type: 'GET',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {

                        $.each(res.data, function (index, item) {
                            var href = WIKI_DETAIL_URL + '?wiki_id=' + item.id;

                            var li = $('<li>').attr('id', 'id_' + item.id).append($('<a>').text(item.title).attr('href', href)).append($('<ul>'));
                            if (!item.parent_id) {
                                $('#catalog').append(li)
                            } else {
                                $('#id_' + item.parent_id).children('ul').append(li)
                            }

                        })
                    } else {
                        alert('初始化目录失败')
                    }
                }
            })

        }

    </script>
{% endblock %}